:root {
    --auberge: #18043B;
    --emerald: #3C6F58;
    --slimey: #689758;
    --bloch: #E3C9CA;
}
.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 200 to 800 */

.karla-i20 {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: italic;
}
.karla-r35 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
  }

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    padding: 10px;
    margin: 10px;
    /* list-style: none; */
}
.flex-item {
    padding: 5px;
    text-align: center;
}

/* small screens */
@media all and (max-width: 500px) {
    .flex-container {
        flex-direction: column;
    }
}

body {
    background-color: var(--auberge);
}

h1 {
    color: var(--bloch);
}

p {
    color: var(--slimey);
}